/*! Resetting values */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*! For smooth scrolling */
html {
  scroll-behavior: smooth;
}

/*! Body  */
body {
  font-family: sans-serif;
  color: rgb(225, 232, 244);
  background-color: black;
}
/*! Disabling the scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

/*! Nav */
nav {
  position: fixed;
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
li {
  height: 40px;
  text-align: center;
}
li a {
  color: rgb(225, 232, 244);
  text-decoration: none;
  font-size: 20px;
}
li:hover .progress {
  width: 100%;
}
.progress {
  margin: 3px 0 0 0;
  border-top: 3px solid white;
  border-radius: 10px;
  width: 0%;
  transition: 0.2s ease-out;
}
.index {
  width: 100%;
}

/* Nav End */

/*! Constant classes */

/*! Welcome Section - Header */

.welcome {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at bottom, rgb(5, 54, 80), rgb(0, 8, 11));
}
.welcome-message {
  font-size: 50px;
  -webkit-box-reflect: below 0px
    linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.4));
  animation: moveToBottom 1s linear;
  animation-timeline: scroll();
}
.scroll-down {
  color: rgb(225, 232, 244);
  text-decoration: none;
  position: absolute;
  bottom: 15px;
  font-size: 20px;
  animation: moveToBottom 1s linear;
  animation-timeline: scroll();
}
/*! Scroll down animation */
@keyframes moveToBottom {
  0% {
    transform: translateY(0);
  }
  80% {
    color: rgba(225, 232, 244, 0);
  }
  100% {
    transform: translateY(100vh);
    color: rgba(225, 232, 244, 0);
  }
}

/*! Info about me */
.who-am-i {
  padding: 10%;
  height: 100vh;
  background: radial-gradient(ellipse at top, rgb(5, 54, 80), rgb(0, 8, 11));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.who-am-i p {
  font-size: 20px;
}
.who-am-i h1 {
  margin-bottom: 50px;
  font-size: 50px;
}
.wai-header {
  animation: revealh 2s ease-out;
  animation-timeline: scroll();
}
.wai-p {
  animation: revealp 2s ease-out;
  animation-timeline: scroll();
}

@keyframes revealh {
  from {
    color: rgba(225, 232, 244, 0);

  }
  50% {
    color: rgba(225, 232, 244, 0);

  }
  to {
    color: rgba(225, 232, 244, 1);
  }
}

@keyframes revealp {
  0% {
    color: rgba(225, 232, 244, 0);

  }
  75% {
    color: rgba(225, 232, 244, 0);

  }
  to {
    color: rgba(225, 232, 244, 1);
  }
}
/*! Footer */
footer {
  display: flex;
  justify-content: center;
  background: radial-gradient(ellipse at top, rgb(3, 22, 31), rgb(0, 8, 11));
}
footer ul {
  list-style-type: none;
  margin-left: 30px;
  display: flex;
}
footer ul li {
  margin-left: 10px;
}


/*!-------------- ABOUT ME PAGE ------------------------------- */
.container {
                align-items: center;
                display: flex;
                flex-direction: column;
                width: 60%;
}
.about-me-message {
                margin-bottom: 50px;
                font-size: 50px;
}
.about-me-paragraph {
                line-height: 25px;
                font-size: 18px;
}